

.big-red{
    width: 500px;
    height: 500px;
    background-color: tomato;
    border: 4px solid black;
    border-radius: 10px;
}


.hello{
    width: 30%;
    border: 1px solid black;
}


#result{
    font-size: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 35%;
    margin-bottom: 200px;
    margin-left: 10px;
}

.calc-container{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.operation-btn{
    margin: 25px;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
    background-color: black;
    color: white;
}

.left{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}